<section class="board">
  <article class="col">
    <h3>Todo</h3>
    @for (task of todoTasks(); track task.id) {
      <div class="task">{{ task.orderId }} - {{ task.title }}<small>{{ task.assignee }}</small></div>
    }
  </article>
  <article class="col">
    <h3>Doing</h3>
    @for (task of doingTasks(); track task.id) {
      <div class="task">{{ task.orderId }} - {{ task.title }}<small>{{ task.assignee }}</small></div>
    }
  </article>
  <article class="col">
    <h3>Blocked</h3>
    @for (task of blockedTasks(); track task.id) {
      <div class="task alert">{{ task.orderId }} - {{ task.title }}<small>{{ task.assignee }}</small></div>
    }
  </article>
</section>
