<section class="calculator">
  <h2>Binary Calculator</h2>
  <div class="res-container">{{ expression }}</div>
  <div class="btns">
    <button class="btns btn-digit" (click)="appendDigit('0')">0</button>
    <button class="btns btn-digit" (click)="appendDigit('1')">1</button>
    <button class="btns btn-action" (click)="clear()">C</button>
    <button class="btns btn-action" (click)="evaluate()">=</button>
    <button class="btns btn-operation" (click)="appendOperator('+')">+</button>
    <button class="btns btn-operation" (click)="appendOperator('-')">-</button>
    <button class="btns btn-operation" (click)="appendOperator('*')">*</button>
    <button class="btns btn-operation" (click)="appendOperator('/')">/</button>
  </div>
</section>
