.calculator {
  width: 24rem;
}

.res-container {
  background-color: lightgray;
  border: solid;
  height: 48px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.btns {
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin: 0;
  float: left;
}

.btn-digit {
  background-color: lightgreen;
  color: brown;
}

.btn-action {
  background-color: darkgreen;
  color: white;
}

.btn-operation {
  background-color: black;
  color: red;
}
